{% block _novalnet_transaction_details_container_widget %}
	<div>
		<br>
		<span class="customer-info-grid__element-label">Novalnet Transaction Details</span>
		<div>
			{{ transactionDetails.customerNotes|replace({'|': '\n'})|nl2br }}
		</div>
		<br>
	</div>
	{% if transactionDetails.paymentType in ['INSTALMENT_INVOICE', 'INSTALMENT_DIRECT_DEBIT_SEPA'] and  transactionDetails.instalmentDetails %}
	<div>
		<br>
		<span class="customer-info-grid__element-label">Instalment Details</span>
		<br>
		<table id="novalnet_instalment_table">
			<tr>
				<th>S.no</th>
				<th>Date</th>
				<th>Novalnet Transaction ID</th>
				<th>Status</th>
				<th>Amount</th>
			</tr>
			{% for key, value in transactionDetails.instalmentDetails['cycle_dates'] %}
			{% set tid  = transactionDetails.instalmentDetails[key].tid ? transactionDetails.instalmentDetails[key].tid : '' %}
			{% set cycleStatus  = transactionDetails.status == 'DEACTIVATED' ?  CANCELLED : (tid != '' ? 'COMPLETED' : 'PENDING') %}
			<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
			<td>{{ tid }}</td>
			<td>{{ cycleStatus }}</td>
			<td>{{ transactionDetails.instalmentDetails['formatted_cycle_amount']|oro_format_currency({'currency': transactionDetails.instalmentDetails['currency'], symbols: symbols}) }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
{% endblock %}
